spring:
  config:
    activate:
      on-profile: prod
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: false
        show_sql: false

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 60000
